<div class="single-shop-wrapper">
    
    <h1 class="single-shop-name"></h1>

    <div class="slideshow owl-carousel owl-theme"></div>

    <div class="current-distance">Distance from your current location: <span class="current-distance-content bold"></span> meters</div>

    <div class="price-range">Price range: <span class="price-range-content"></span></div>

    <div class="tips">Check out coffee tips for this venue from Foursquare users: <div class="user-reviews-coffee"></div></div>

    <button class="btn-back">Go back</button>

</div><!-- .single-shop-wrapper -->